<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>441058980658-b8dtlagotjc7ia8279dainvkctdf6aip.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.441058980658-b8dtlagotjc7ia8279dainvkctdf6aip</string>
	<key>API_KEY</key>
	<string>AIzaSyC3TmHYcNbT74dF_Ww_2fmHklr2nQbhl-Y</string>
	<key>GCM_SENDER_ID</key>
	<string>441058980658</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.impactsolutions.moscore</string>
	<key>PROJECT_ID</key>
	<string>mo-score</string>
	<key>STORAGE_BUCKET</key>
	<string>mo-score.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:441058980658:ios:53379c76e09cd55bad9d2b</string>
</dict>
</plist>